[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
pandas = "*"
scikit-learn = "*"
streamlit = "*"
torch = "*"
torchvision = "*"
tensorflow = "*"
scikit-build = "*"
pythran = "*"
scipy = "*"
cython = "*"
pydantic = "~=2.6"
jsonlines = "~=4.0"
collectable-card-identifier = {editable = true, path = "."}

[dev-packages]
jupyter = "*"
collectable-card-identifier = {file = ".", editable = true}

[requires]
python_version = "3.9"
