[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = "*"
opencv-contrib-python = "*"
pandas = "*"
pillow = "*"
pokemontcgsdk = "*"
retrying = "*"
requests = "*"
scikit-image = "*"
scikit-learn = "*"
streamlit = "*"
torch = "*"
torchvision = "*"
tensorflow = "*"
scikit-build = "*"
pythran = "*"
scipy = "*"
cython = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"

[packages.collectable-card-identifier]
editable = true
path = "."
